src/pytorch-CycleGAN-and-pix2pix/checkpoints/sketch_pix2pix/latest_net_G.pth
src/pytorch-CycleGAN-and-pix2pix/checkpoints/sketch_pix2pix/latest_net_D.pth
src/pytorch-CycleGAN-and-pix2pix/checkpoints/
