src/pytorch-CycleGAN-and-pix2pix/checkpoints/sketch_pix2pix/latest_net_D.pth filter=lfs diff=lfs merge=lfs -text
src/pytorch-CycleGAN-and-pix2pix/checkpoints/sketch_pix2pix/latest_net_G.pth filter=lfs diff=lfs merge=lfs -text
